#####################################
# Create a .env.service file next to
# this one with actual values.
#####################################

SERVER_PORT=9000
APP_SECURITY_ALLOWACCESS=http://localhost,http://localhost:8080
APP_PROJECTSJSON_PATH=./config/projects.json
APP_ASSETS_PATH=./static/metadatatool
